include common/header
#page-index.page.secondary
    .page-header
        .page-header-content
            h1
                | 煮饺子
                small 首页
            a.back-button.big.page-back(href='/index')
    .page-region
        .page-region-content
            .grid
                .row
                    .span10
                        h2 用户导航
                        .clearfix
                            .tile.bg-color-green
                                .tile-content
                                    h2 个人信息
                                    br
                                    p
                                        | 填下自己的电话，旺旺什么的
                                .brand
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-green
                                .tile-content
                                    h2 菜单
                                    br
                                    p
                                        | 选饺子，点击就下单，跟订餐系统一样
                                .brand
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-green
                                .tile-content
                                    h2 查询
                                    br
                                    p
                                        | 煮的咋样了，点这里看看
                                .brand
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-green
                                .tile-content
                                    h2 评价
                                    br
                                    p
                                        | 亲，给个好评把，有意见也这里说
                                .brand
                                    img.icon(src='/static/images/Market128.png')
                        h2 管理功能
                        .clearfix
                            .tile.bg-color-blue
                                .tile-content
                                    h2 管理库存
                                    br
                                    p
                                        | 更新有哪些饺子，架子的价格什么的
                                .brand
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-blue
                                .tile-content
                                    h2 查看订单
                                    br
                                    p
                                        | 看看订单情况，更新订单状态
                                .brand
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-blue
                                .tile-content
                                    h2 查看反馈
                                    br
                                    p
                                        | 查看同学们的评价反馈什么的
                                .brand
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-blue
                                .tile-content
                                    h2 对齐专用
                                    br
                                    p
                                        | 有强迫症的工程师你伤不起啊。
                                .brand
                                    img.icon(src='/static/images/Market128.png')
include common/footer