include common/header
#page-index.page.secondary
    .page-header
        .page-header-content
            h1
                | 煮饺子
                small 订单状态
            a.back-button.big.page-back(href='/index')
    .page-region
        .page-region-content
            .grid
                .row
                    span.span1 订单日期
                    select.span2
                        option('value'='2013-3-1','selected'='selected') 2013-3-1
                        option('value'='2013-3-2') 2013-3-2
                        option('value'='2013-3-3') 2013-3-3
                .row
                    table.span10.striped
                        thead
                            th 饺子
                            th 客户
                            th 联系方式
                            th 时间
                            th 备注
                            th 操作
                        tr
                            td 三全 / 猪肉韭菜 / 1
                            td 朱哲
                            td 74248
                                a('href'='')
                                    img('src'='http://amos.alicdn.com/online.aw?v=2&uid=zhuzhe1983%3A008&site=cntaobao&s=2&charset=utf-8')
                            td 11:30
                            td 九分熟，略微老一点
                            td
                                select
                                    option('value'='已确认','selected'='selected') 已确认
                                    option('value'='已下锅') 已下锅
                                    option('value'='已付款') 已付款
                                    option('value'='已取消') 已取消
                        tr
                            td 三全 / 猪肉韭菜 / 1
                            td 朱哲
                            td 74248
                                a('href'='')
                                    img('src'='http://amos.alicdn.com/online.aw?v=2&uid=zhuzhe1983%3A008&site=cntaobao&s=2&charset=utf-8')
                            td 11:30
                            td 九分熟，略微老一点
                            td
                                select
                                    option('value'='已确认','selected'='selected') 已确认
                                    option('value'='已下锅') 已下锅
                                    option('value'='已付款') 已付款
                                    option('value'='已取消') 已取消
                        tr.success
                            td 三全 / 猪肉韭菜 / 1
                            td 朱哲
                            td 74248
                                a('href'='')
                                    img('src'='http://amos.alicdn.com/online.aw?v=2&uid=zhuzhe1983%3A008&site=cntaobao&s=2&charset=utf-8')
                            td 11:30
                            td 九分熟，略微老一点
                            td
                                select
                                    option('value'='已确认') 已确认
                                    option('value'='已下锅') 已下锅
                                    option('value'='已付款','selected'='selected') 已付款
                                    option('value'='已取消') 已取消
                        tr.info
                            td 三全 / 猪肉韭菜 / 1
                            td 朱哲
                            td 74248
                                a('href'='')
                                    img('src'='http://amos.alicdn.com/online.aw?v=2&uid=zhuzhe1983%3A008&site=cntaobao&s=2&charset=utf-8')
                            td 11:30
                            td 九分熟，略微老一点
                            td
                                select
                                    option('value'='已确认','selected'='selected') 已确认
                                    option('value'='已下锅') 已下锅
                                    option('value'='已付款') 已付款
                                    option('value'='已取消') 已取消
                        tr.error
                            td 三全 / 猪肉韭菜 / 1
                            td 朱哲
                            td 74248
                                a('href'='')
                                    img('src'='http://amos.alicdn.com/online.aw?v=2&uid=zhuzhe1983%3A008&site=cntaobao&s=2&charset=utf-8')
                            td 11:30
                            td 12：00左右来取
                            td
                                select
                                    option('value'='已确认') 已确认
                                    option('value'='已下锅') 已下锅
                                    option('value'='已付款','selected'='selected') 已付款
                                    option('value'='已取消') 已取消
                        tr.warning
                            td 三全 / 猪肉韭菜 / 1
                            td 朱哲
                            td 74248
                                a('href'='')
                                    img('src'='http://amos.alicdn.com/online.aw?v=2&uid=zhuzhe1983%3A008&site=cntaobao&s=2&charset=utf-8')
                            td 11:30
                            td 零一二三四五六七八九十
                            td
                                select
                                    option('value'='已确认') 已确认
                                    option('value'='已下锅','selected'='selected') 已下锅
                                    option('value'='已付款') 已付款
                                    option('value'='已取消') 已取消
include common/footer