include common/header
#page-index.page.secondary
    .page-header
        .page-header-content
            h1
                | 煮饺子
                small 菜单
            a.back-button.big.page-back(href='/index')
    .page-region
        .page-region-content
            .grid
                .row
                    .span3
                        h2 当前状态
                        .notices
                            .bg-color-green
                                a.close
                                .notice-icon
                                    img(src='/static/images/Mail128.png')
                                .notice-header.fg-color-white 订购成功
                                .text 11:40 后可以来领取
                .row.clearfix
                    .span10
                        h2 请选择
                        h3 三元饺子
                        .clearfix
                            .tile.bg-color-green
                                .tile-content
                                    h2 猪肉韭菜
                                    br
                                    p
                                        | 15个 / 10元
                                .brand
                                    .badge 1
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-green
                                .tile-content
                                    h2 猪肉白菜
                                    br
                                    p
                                        | 15个 / 10元
                                .brand
                                    .badge 1
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-green
                                .tile-content
                                    h2 三鲜
                                    br
                                    p
                                        | 15个 / 10元
                                .brand
                                    .badge 1
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-green
                                .tile-content
                                    h2 猪肉韭菜
                                    br
                                    p
                                        | 15个 / 10元
                                .brand
                                    .badge 1
                                    img.icon(src='/static/images/Market128.png')
                        h3 其他饺子
                        .clearfix
                            .tile.bg-color-blue
                                .tile-content
                                    h2 猪肉韭菜
                                    br
                                    p
                                        | 15个 / 10元
                                .brand
                                    .badge 1
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-blue
                                .tile-content
                                    h2 猪肉韭菜
                                    br
                                    p
                                        | 15个 / 10元
                                .brand
                                    .badge 1
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-blue
                                .tile-content
                                    h2 猪肉韭菜
                                    br
                                    p
                                        | 15个 / 10元
                                .brand
                                    .badge 1
                                    img.icon(src='/static/images/Market128.png')
                            .tile.bg-color-blue
                                .tile-content
                                    h2 猪肉韭菜
                                    br
                                    p
                                        | 15个 / 10元
                                .brand
                                    .badge 1
                                    img.icon(src='/static/images/Market128.png')
                        h3 我
                        .clearfix
                            .button-set(data-role='button-set')
                                button 很饿
                                button.active 有点饿
                                button 不是很饿
include common/footer