include common/header
#page-index.page.secondary
    .page-header
        .page-header-content
            h1
                | 煮饺子
                small 锅的状态
            a.back-button.big.page-back(href='/index')
    .page-region
        .page-region-content
            .grid(style="border-left:solid 5px #2d89ef;")
                .row
                    .span5
                        ul.replies
                            li.bg-color-red
                                b.sticker.sticker-left.sticker-color-red
                                .avatar
                                    img(src='/static/images/myface.jpg')
                                .reply
                                    .date 2013-1-31
                                    .author 李小明
                                    .text 饺子煮完了，你还没饿背过去把！要是还没背过去，赶紧的过来拿把！
                    .clearfix
                    .span5
                        ul.replies
                            li.bg-color-orange
                                b.sticker.sticker-left.sticker-color-orange
                                .avatar
                                    img(src='/static/images/myface.jpg')
                                .reply
                                    .date 2013-1-31
                                    .author 李小明
                                    .text 猪肉白菜的饺子已经下锅了，你要着急就过来等着把！！
                    .clearfix
                    .span5
                        ul.replies
                            li.bg-color-green
                                b.sticker.sticker-left.sticker-color-green
                                .avatar
                                    img(src='/static/images/myface.jpg')
                                .reply
                                    .date 2013-1-31
                                    .author 李小明
                                    .text 酸菜肉丝已经从冰箱里面拿出来了，不过还没下锅呢，别着急啊！
                    .clearfix
                    .span5
                        ul.replies
                            li.bg-color-darken
                                b.sticker.sticker-left.sticker-color-darken
                                .avatar
                                    img(src='/static/images/myface.jpg')
                                .reply
                                    .date 2013-1-31 11：30
                                    .author 李小明
                                    .text 苍天啊，大地啊，你要的饺子竟然卖完了！赶紧去换种饺子吧。
                    .clearfix
                    .span5
                        ul.replies
                            li.bg-color-blue
                                b.sticker.sticker-left.sticker-color-blue
                                .avatar
                                    img(src='/static/images/myface.jpg')
                                .reply
                                    .date 2013-1-31
                                    .author 李小明
                                    .text 刚下单，饺子还在冰箱里面呢！不要急啊不要急。
include common/footer