.page
  .nav-bar.footer
    .nav-bar-inner.padding10
      span.element
        | 联系方式：电话： 旺旺：
      a(href='http://www.taobao.com/webww/index.php?ver=3&touid=zhuzhe1983&siteid=cntaobao&status=1&charset=utf-8')
        img(src='http://amos.alicdn.com/online.aw?v=2&uid=zhuzhe1983%3A008&site=cntaobao&s=2&charset=utf-8')
script(type='text/javascript', src='/static/js/assets/jquery-1.8.2.min.js')
script(type='text/javascript', src='/combo?/static/js/assets/jquery.pjax.js&/static/js/assets/jquery.mousewheel.min.js')
script(type='text/javascript', src='/combo?/static/js/modern/dropdown.js&/static/js/modern/accordion.js&/static/js/modern/buttonset.js&/static/js/modern/carousel.js&/static/js/modern/input-control.js&/static/js/modern/pagecontrol.js&/static/js/modern/rating.js&/static/js/modern/slider.js&/static/js/modern/tile-slider.js&/static/js/modern/tile-drag.js')
script