!!! 5
html(xmlns='http://www.w3.org/1999/html')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(href='/combo?/static/css/modern.css&/static/css/modern-responsive.css', rel='stylesheet')
    link(href='/static/css/site.css', rel='stylesheet')
    title 煮饺子
  body.modern-ui
