.page
  .nav-bar.header
    .nav-bar-inner.padding10
      span.pull-menu
      a(href='/')
        span.element.brand
          img.place-left(src='/static/images/logo32.png', style='height: 20px;')
          | PMS
          small
      .divider
      ul.menu
        li
          a(href='.') Home
        li(data-role='dropdown')
          a(href='#') Project
          ul.dropdown-menu
            li
              a(href='project/open') Open
            li
              a(href='project/pending') Pending
            li
              a(href='project/close') Closed
            li.divider
            li
              a(href='project/new') New
        li(data-role='dropdown')
          a(href='#') Task
          ul.dropdown-menu
            li
              a(href='project/open') Open
            li
              a(href='project/pending') Pending
            li
              a(href='project/close') Closed
            li.divider
            li
              a(href='project/new') New
            li(data-role='dropdown')
        li(data-role='dropdown')
          a(href='#') Components
          ul.dropdown-menu
            li
              a(href='tiles.php') Tiles
            li
              a(href='menus.php') Menu and Navigation
            li
              a(href='sidebar.php') Sidebar
            li
              a(href='pagecontrol.php') Page control
            li
              a(href='accordion.php') Accordion
            li
              a(href='buttons-set.php') Buttons set
            li
              a(href='rating.php') Rating
            li
              a(href='progress.php') Progress bars
            li
              a(href='carousel.php') Carousel
            li
              a(href='listview.php') List view
            li
              a(href='slider.php') Slider
            li.divider
            li
              a(href='notices.php') Notices and Replies
            li.divider
            li
              a(href='cards.php') Bonus - Deck of Cards
        li
          a(href='https://github.com/olton/Metro-UI-CSS') Source
